.section {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #ffffff;
  padding: 20px 20px;
  margin-bottom: 50px;
  text-align: center;
  background-image: url("/src/Components/images/marcus-medium.jpg");
  background-position: center center;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  .section {
    height: auto;
    padding: 20px;
  }
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 5px 0;
}

.section-subTitle {
  font-size: 1.1rem;
}

.service-section {
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
  background-color: #ffffff;
  color: #000000;
}

.service-section a, .service-section a:hover, .service-section a:focus, .service-section a:active {
  text-decoration: none;
  color: inherit;
}

.service-section-row {
  display: flex;
  height: auto;
  padding: 10vh 0;
  flex-direction: column;
}

.service-section-row-1 {
  display: flex;
  height: auto;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .service-section-row-1 {
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .service-section-row-1 {
    padding: 10px 0;
  }
}

.service-section-row-1-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #04091b;
  height: auto;
  margin: 10px;
  padding: 20px;
  transition: all 1s;
}

@media (min-width: 992px) {
  .service-section-row-1-col {
    flex-grow: 1;
  }
}

.service-section-row-1-col-img {
  height: 40vh;
  align-content: center;
  width: 100%;
  color: #f00946;
  margin-bottom: 5px;
}

.service-section-row-1-col p, .service-section-row-1-col h2 {
  text-align: center;
  line-height: 1.5;
}

.service-section-row-1-col:hover {
  border: 1px solid #f00946;
  box-shadow: 0 4px 8px 0 #04091b, 0 6px 20px 0 #04091b;
  border-radius: 5px;
}

.tour-package-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #04091b;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.tour-package-section-row {
  display: flex;
  height: auto;
  margin: 20px 20px;
  box-sizing: inherit;
}

@media (max-width: 768px) {
  .tour-package-section-row {
    flex-direction: column;
  }
}

.tour-package-section-row-col {
  height: auto;
  border: 1px solid #d3cece;
  margin: 0 5px;
  box-sizing: inherit;
  border-radius: 10px;
}

@media (min-width: 992px) {
  .tour-package-section-row-col {
    width: calc(100%/3);
  }
}

@media (max-width: 768px) {
  .tour-package-section-row-col {
    flex-direction: column;
    margin-bottom: 40px;
    height: auto;
  }
}

.tour-package-section-row-col-img-wrapper {
  width: 100%;
  height: 40vh;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .tour-package-section-row-col-img-wrapper {
    height: 50vh;
  }
}

.tour-package-section-row-col-img-wrapper img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tour-package-section-row-col-content {
  background-color: inherit;
  color: #04091b;
  box-sizing: inherit;
  padding: 20px 20px;
}

.tour-package-section-row-col-content h3 {
  text-transform: uppercase;
}

.tour-package-section-row-col-content h3, .tour-package-section-row-col-content p, .tour-package-section-row-col-content price {
  margin-bottom: 1.3vh;
}

.tour-package-section-row-col-content .bookButton {
  margin: 5px 0;
  background-color: #df053f;
  color: inherit;
  width: 30%;
  padding: 10px 5px;
  box-sizing: inherit;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}

.tour-package-section-row-col-content .bookButton a, .tour-package-section-row-col-content .bookButton a:hover, .tour-package-section-row-col-content .bookButton a:active {
  text-decoration: none;
}

.footer {
  display: flex;
  padding: 20px 20px;
  padding-bottom: 10px;
  background-color: #1c2237;
  height: auto;
  margin-top: 20px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}

.footer-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 10px;
}

@media (min-width: 992px) {
  .footer-col {
    width: calc(100%/4);
    margin: 0 10px;
  }
}

.footer-col-img {
  height: auto;
  width: 100%;
  margin: 10px 0;
}

.footer-col h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.footer-col p {
  display: block;
  margin: 1px 0;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .footer-col p {
    margin-top: 20px;
  }
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 20px;
}

.footer-col ul span {
  margin-left: 5px;
  line-height: 1.5;
}

img {
  width: 100%;
  height: 40vh;
}

.social ul {
  display: flex;
}

.social ul li {
  padding: 10px;
}

.social ul a {
  transition: transform 250ms;
  display: inline-block;
}

.social ul a:hover {
  transform: translate(-2px);
  color: #f00946;
}

.link ul a {
  transition: transform 250ms;
}

.link ul a:hover {
  transform: translate(-2px);
  color: #f00946;
}

.contact {
  width: 100%;
}

.contact-row {
  display: flex;
  border-radius: 10px;
  margin: 20vh 10vh;
}

@media (min-width: 992px) {
  .contact-row {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .contact-row {
    flex-direction: column;
    margin: 10vh 3vh;
  }
}

.contact-row-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

@media (min-width: 992px) {
  .contact-row-col {
    width: calc(100%/2);
  }
}

.contact-row-col img {
  width: 100%;
  height: 550px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media (max-width: 768px) {
  .contact-row-col img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 10px;
    height: 400px;
  }
}

.contact-col {
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #1c2237;
  border-top-right-radius: 10px;
}

@media (min-width: 992px) {
  .contact-col {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media (max-width: 768px) {
  .contact-col {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.inputRow {
  display: flex;
}

@media (max-width: 768px) {
  .inputRow {
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .inputRow {
    width: 100%;
    justify-content: space-between;
  }
}

@media (min-width: 768) {
  .inputRow {
    width: 100%;
    justify-content: space-between;
  }
}

.inputRow-col {
  margin-bottom: 20px !important;
}

@media (max-width: 320px) {
  .inputRow-col {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .inputRow-col {
    width: 48%;
  }
}

.inputRow-col input, .inputRow-col textarea {
  height: 60px;
  width: 100%;
  font-size: 1.0rem;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
}

.inputRow-col label {
  width: 100%;
}

form {
  padding: 40px 40px;
}

@media (max-width: 768px) {
  form {
    padding: 20px 10px;
  }
}

.inputGroup {
  width: 100%;
  margin-bottom: 20px;
}

.inputGroup input, .inputGroup textarea {
  height: 60px;
  width: 100%;
  font-size: 1.0rem;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
}

.inputGroup label {
  width: 100%;
}

input[type=submit] {
  background-color: #f00946;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  transition: transform 300ms;
}

input[type=submit]:hover {
  color: #04091b;
  background-color: #ffffff;
  transform: translate(-2px);
}

.textarea {
  height: 200px;
}

.textarea textarea {
  height: 200px;
}

textarea:focus {
  outline: none;
  border: 1px solid #04091b;
  box-shadow: 0 0 10px #f00946;
}

input:focus {
  outline: none;
  border: 1px solid #04091b;
  box-shadow: 0 0 10px #f00946;
}

.copyright {
  display: flex;
  justify-content: center;
  height: 10vh;
  background-color: #04091b;
  padding: 20px 20px;
  color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Brush Script MT', cursive;
}

.landing {
  width: 100%;
  height: auto;
  background: #1c2237;
}

.landing .slide {
  width: 100%;
  height: 100vh;
  background-color: #1c2237;
  color: black;
  text-align: center;
  position: relative;
}

.landing .slide .img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  opacity: 0.6;
}

.landing .slide .message {
  position: absolute;
  color: #ffffff;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
  width: 100%;
}

@media (max-width: 768px) {
  .landing .slide .message {
    width: 100%;
  }
}

.landing .slide .third {
  position: absolute;
  color: #ffffff;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
  width: auto;
  text-align: left;
}

@media (max-width: 768px) {
  .landing .slide .third {
    left: 35%;
  }
}

.landing .slide .third .thirdSlide {
  padding: 10px;
  width: auto;
}

.landing .slide .third h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.1;
  background-color: #1c2237;
  color: #ffffff;
  margin-bottom: 2vh;
}

@media (max-width: 768px) {
  .landing .slide .third h2 {
    font-size: 1.5rem;
    line-height: 1.0;
  }
}

.landing .slick-next {
  right: 20px;
  display: none !important;
}

.landing .slick-prev {
  left: 20px !important;
}

.landing .slick-dots {
  bottom: 30px;
}

.landing .slick-dots li {
  width: 15px;
  height: 15px;
}

.landing .slick-dots li button {
  background-color: #ffffff;
  border-radius: 50px;
}

.landing .slide-header {
  position: absolute !important;
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
}

.landing .slide h1 {
  font-weight: bold;
  font-size: 8rem;
  line-height: 1.1;
}

@media (max-width: 768px) {
  .landing .slide h1 {
    font-size: 4rem;
    line-height: 2;
  }
}

.order-btn {
  margin: 20px;
  width: 20vw;
  height: 8vh;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 2rem;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .order-btn {
    width: auto;
    font-size: 1.2rem;
    padding: 0 15px;
  }
}

.order-btn:hover {
  background-color: #ffffff;
  color: #1c2237;
}

.order-btn:hover a {
  color: #1c2237;
}

.subTitle {
  line-height: 1.5;
  font-weight: 500;
}

.about {
  padding: 20px 20px;
  height: auto;
  display: flex;
  color: black;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
  }
}

.about-col {
  flex-grow: 1;
  height: auto;
  padding: 20px 0;
}

.about-col-left h2 {
  font-size: 2.0rem;
  padding-bottom: 5px;
}

.about-col-left p {
  line-height: 2.0rem;
}

.about-col-right-img {
  width: 100%;
  height: 50vh;
}

.why {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: auto;
  padding-bottom: 20vh;
}

.why h2 {
  font-size: large;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10vh 0;
}

.why-header {
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  height: 20vh;
  display: flex;
  flex-direction: column;
}

.why-header h2 {
  font-size: large;
  font-size: 1.5rem;
}

.why-content {
  height: auto;
  background-image: url("/src/Components/images/art.jpg");
  background-attachment: fixed;
}

.why-content-row {
  background: rgba(255, 255, 255, 0.7);
  width: 80%;
  margin: 80px auto;
  padding: 20px 20px;
  display: flex;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .why-content-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.why-content-row-col {
  height: 70vh;
  flex-grow: 1;
  margin: 20px;
  border: 1px solid #252525;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 #04091b, 0 3px 10px 0 #04091b;
}

@media (max-width: 768px) {
  .why-content-row-col {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 992px) {
  .why-content-row-col {
    height: auto;
  }
}

.why-content-row-col img-span {
  width: 100%;
  height: 50%;
}

.why-content-row-col img {
  width: 100%;
  height: 40vh;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .why-content-row-col img {
    height: 50vh;
  }
}

.why-content-row-col-content {
  text-align: center;
  padding: 20px 20px;
}

.why-content-row-col-content h3 {
  color: #04091b;
  padding-bottom: 10px;
}

.packageDetails-section {
  width: 60%;
  height: auto;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  background-color: white;
  color: #000000;
}

@media (max-width: 768px) {
  .packageDetails-section {
    width: 80%;
    margin: 0 auto;
  }
}

.packageDetails-section h2 {
  margin-top: 20px;
}

.packageDetails-section-title {
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 0;
  color: #1c2237;
}

.packageDetails-section-features {
  padding: 20px 0;
  line-height: 1.5;
}

.packageDetails-section-content {
  line-height: 1.5;
}

.packageDetails-section-btn {
  margin: 20px 0;
  padding: 20px;
  background-color: #f00946;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  width: fit-content;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .packageDetails-section-btn {
    width: inherit;
    text-align: center;
  }
}

.packageDetails-section-btn:hover {
  background-color: #04091b;
  color: #f00946;
}

.packageDetails-section-image {
  width: 100%;
  height: 400px;
}

.packageDetails-section-image img {
  height: 100%;
}

.packageDetails-section-features .h2 {
  color: #ffffff;
}

.hajjPackage-section {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.hajjPackage-section h2 {
  margin: 20px 0;
}

.hajjPackage-section-col {
  width: 50%;
}

.hajjPackage-section-col ul {
  padding: 10px 20px;
}

.hajjPackage {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid red;
}

.hajj-content-col {
  width: 100%;
  padding: 10px 20px;
  display: none;
}

.hajj-content-col-show {
  width: 100%;
  padding: 10px 20px;
}

.hajjPackage-sec {
  width: 100%;
  display: flex;
}

.hajjPackage-sec .tab-col {
  width: calc(100%/2);
  padding: 10px;
  border: 1px solid red;
}

.tab-container {
  border: 1px solid #fff;
  box-shadow: 0 4px 8px 0 #04091b;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5px 0;
  border-radius: 5px;
}

.tab-container .bloc-tabs {
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.tab-container .tabs {
  flex-grow: 1;
  justify-content: center;
  padding: 20px 0;
  background-color: #04091b;
  text-align: center;
  font-size: 1.1em;
  font-weight: details;
}

.tab-container .active-tabs {
  border-top: 5px solid #f00946;
  color: black;
  background-color: inherit;
}

.tab-container .content-tabs {
  flex-grow: 1;
}

.tab-container .content {
  padding: 20px;
  width: 100%;
  display: none;
}

.tab-container .content ul li {
  text-transform: uppercase;
  line-height: 1.5rem;
}

.tab-container .content-details {
  font-weight: normal;
}

.tab-container .content-details h3 {
  font-weight: normal;
}

.tab-container .active-content {
  display: block;
}

.tab-container .content h2 {
  padding: 0px 0 5px 0px;
}

.tab-container .content hr {
  width: 100%;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}

.tab-container .content p {
  width: 100%;
  height: 100%;
}

.book {
  width: 100%;
}

.book-row {
  display: flex;
  border-radius: 10px;
  margin: 20vh 10vh;
  justify-content: center;
}

@media (min-width: 992px) {
  .book-row {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .book-row {
    flex-direction: column;
    margin: 10vh 3vh;
  }
}

.book-row-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: #1c2237;
}

@media (min-width: 992px) {
  .book-row-col {
    width: calc(100%/2);
  }
}

.book-row-col img {
  width: 100%;
  height: 550px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media (max-width: 768px) {
  .book-row-col img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 10px;
    height: 400px;
  }
}

.inputRow {
  display: flex;
}

@media (max-width: 768px) {
  .inputRow {
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .inputRow {
    width: 100%;
    justify-content: space-between;
  }
}

@media (min-width: 768) {
  .inputRow {
    width: 100%;
    justify-content: space-between;
  }
}

.inputRow-col {
  margin-bottom: 20px !important;
}

@media (max-width: 320px) {
  .inputRow-col {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .inputRow-col {
    width: 48%;
  }
}

.inputRow-col input, .inputRow-col textarea {
  height: 60px;
  width: 100%;
  font-size: 1.0rem;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
}

.inputRow-col label {
  width: 100%;
}

form {
  padding: 40px 40px;
}

@media (max-width: 768px) {
  form {
    padding: 20px 10px;
  }
}

.inputGroup {
  width: 100%;
  margin-bottom: 20px;
}

.inputGroup input, .inputGroup textarea {
  height: 60px;
  width: 100%;
  font-size: 1.0rem;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
}

.inputGroup label {
  width: 100%;
}

input[type=submit] {
  background-color: #f00946;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  transition: transform 300ms;
}

input[type=submit]:hover {
  color: #04091b;
  background-color: #ffffff;
  transform: translate(-2px);
}

.textarea {
  height: 200px;
}

.textarea textarea {
  height: 200px;
}

textarea:focus {
  outline: none;
  border: 1px solid #04091b;
  box-shadow: 0 0 10px #f00946;
}

input:focus {
  outline: none;
  border: 1px solid #04091b;
  box-shadow: 0 0 10px #f00946;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 60%;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 101;
  padding: 10px 40px;
}

.modal-box h1, .modal-box p {
  text-align: center;
}

.form-container {
  width: 80%;
  margin: 10px auto;
  background-color: #04091b;
  height: auto;
  border-radius: 10px;
}

.btn-close {
  position: relative;
  top: 5%;
  width: 20px;
  height: 20px;
  background-color: red;
  left: 100%;
  text-align: center;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Brush script MT", "Didot", "Georgia", Times, serif;
}

@media (max-width: 768px) {
  * {
    font-family: "Didot", "Georgia", cursive !important;
  }
}
/*# sourceMappingURL=style.css.map */