@import './utils/settings';
@import './shared/sectionHeader';
@import './pages/service';
@import './pages/tourPackage';
@import './shared/footer';
@import './pages/contact';
@import './shared/copyright';
@import './pages/homePage';
@import './pages/about';
@import './pages/why';
@import './shared/packagedetails';
@import './shared/book.scss';
@import './shared/modal.scss';
@import './shared/chatUs.scss';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Brush script MT", "Didot", "Georgia", Times, serif;

    @include medium{
        font-family: "Didot", "Georgia", cursive !important;

    }
}

::-webkit-scrollbar-track{
    background-color: $secondary-color;
}

::-webkit-scrollbar-thumb{
    background-color: $primary-color;
}

::-webkit-scrollbar-thumb:hover{
    background-color: $tertiary-color;
}